body {
    background-image: url("/bg2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;  /* Optional: Set body height to viewport height */
  }